<div style="text-align: center">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        View your Resume
      </h1>
    </div>
  </div>
  <resume-manager></resume-manager>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form ngNoForm action="/api/Resumes/generateHtml" method="get" target="_blank">
        <p >View your resume in html format!</p>
        <div class="form-group">
          <label>Choose theme</label>
          <select class="form-control" name="theme">
            <option value="flat">Flat</option>
            <option value="paper">Paper</option>
            <option value="onepage">Onepage</option>
            <option value="modern">Modern</option>
            <option value="classy">Classy</option>
          </select>
        </div>
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="resumeId" value="{{currentResumeId}}">
        <button type="submit" class="btn btn-primary">Show</button>
      </form>
    </div>
  </div>
    <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form ngNoForm action="/api/Resumes/generatePdf" method="get" target="_blank">
        <p style="margin-top: 20px;">View your resume in pdf format!</p>
        <div class="form-group">
          <label>Choose theme</label>
          <select class="form-control" name="theme">
            <option value="flat">Flat</option>
            <option value="paper">Paper</option>
            <option value="modern">Modern</option>
            <option value="onepage">Onepage</option>
            <option value="classy">Classy</option>
          </select>
        </div>
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="resumeId" value="{{currentResumeId}}">

        <button type="submit" class="btn btn-primary">Show</button>
      </form>
    </div>
  </div>
</div>
