<div *ngIf="creating">
  <div class="form-group">
    <label for="resume-name">Resume Name</label>
    <input [(ngModel)]="newResumeName" type="text">
  </div>

  <button type="submit" (click)="createResume()" class="btn btn-success">Save New Resume</button>
</div>

<div *ngIf="!creating">
  <div *ngIf="resumes.length > 0">
    <ng-select [items]="resumes" [active]="current"(selected)="updateSelected($event)"></ng-select>
    <div class="btn btn-primary" (click)="deleteSelected()">Delete Resume</div>
  </div>
  <div class="btn btn-primary" (click)="toggleCreating()">Create Resume</div>
</div>

<button class="btn btn-primary" (click)="refreshResumes()">Refresh Resumes</button>
