<div>
  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>
        Career Aide grew out of our hate for wasting time maintaining resumes. It is our goal to grow Career Aide to encompase the whole of your Carreer needs from updating social media accounts, to applying to jobs.
      </p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="page-header">Our Team</h2>
    </div>
  </div>
  <div class="row">
      <img class="img-circle img-responsive center-block" src="https://avatars3.githubusercontent.com/u/11775199?v=3&s=200" alt="">
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h3>Christopher Stapler
      </h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
      <a href="https://github.com/cstapler"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/chris-stapler-5031ab62/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="img-circle img-responsive center-block" src="https://avatars3.githubusercontent.com/u/3860386?v=3&s=200" alt="">
    </div>
  </div>
  <div class="col-xs-6 col-xs-offset-3 text-center">
    <div class="row">
      <h3>Tyler Stapler
      </h3>
      <p>A senior in computer engineering. Tyler's interests are Full Stack Web Devopment, Distributed Systems, and Security</p>
      <a href="https://github.com/tstapler"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/tstapler/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
